<h2 class="title"><%= session.reason %></h2>
<h3 class="subtitle">by <%= session.user.username %>
  <br> <%= format_date_and_time(session.created_at) %></h3>

<% if session.audits.any? %>
  <ul class="mb-6">
    <% session.audits.each do |audit| %>
      <li> <%= audit.status.humanize %> by <%= audit.auditor == Console1984::Current.auditor ? "You" : audit.auditor.name %>
        (<%= format_date_and_time(audit.created_at) %>)
      </li>
    <% end %>
  </ul>
<% end %>
