<%= link_to session_path(session) do %>
  <article class="session media">
    <div class="media-left">
      <%= format_date session.created_at %>
    </div>
    <div class="media-content">
      <div class="content">
        <p>
          <strong><%= session.reason %></strong>
          <br>
          by <%= session.user.username %>
        </p>
      </div>
    </div>

    <div class="media-right">
      <% if session.audits.any? %>
        <%= session.audits.pluck(:status).collect(&:humanize).join(", ") %>
      <% else %>
        Pending
      <% end %>
    </div>
  </article>
<% end %>