<nav class="breadcrumb">
  <ul>
    <li><%= link_to "Sessions", sessions_path %></li>
    <li class="is-active"><a href="#" aria-current="page">Session <%= @session.id %> by <%= @session.user.username %></a></li>
  </ul>
</nav>

<%= render "console1984/sessions/header", session: @session %>
<%= render "console1984/sessions/executed_code", session: @session %>